
body {
	background-color: lightgray;
	margin-right: 10px;
	margin-left: 10px;
}

* {
	font-family: 'Verdana', sans-serif;
	font-size: 20px;
}

nav	{
	margin: -7px;
	border: solid cyan 5px;
	background-color: black;
	width: 98vw;
	right: 2px;
	height: 120px;
	text-align: right;
	position: relative;
}

#logo {
	border-top-right-radius: 500px;
	border-top-left-radius: 500px;
	border-bottom-right-radius: 500px;
	border-bottom-left-radius: 500px;
	height: 100px;
	width: 120px;
	position: absolute;
	left: 10px;
}

#link1 {
	background-color: lightgray;
	border-style: double;
	padding: 3px;
	position: relative;
	top: 85px;
	right: 50px;
	color: black;
}


#link1:hover {
	color: cyan;
	background: black;
}

p {
	font-size: 9pt;
}

#intro {
	background-color: black;
	border: solid cyan 3px;
	height: 190px;
	width: 350px;
	padding: 5px;
	margin-right: 220px;
	color: limegreen;
	position: relative;
	display: block;
	left: 180px;
	top: -220px;
	word-wrap: inherit;
}

#profile {
	font-size: 25pt; 
	color: #87f7ff; 
	margin: 10px;
}

li.font {
	font-size: 12px;
	color: cyan;
}

li.back {
	background-color: #0d5a5c;
}

#list2 {
	position: relative;
	left: 95px;
}

#Music {
	background-color: black;
	border: solid cyan 3px;
	height: fit-content;
	width: fit-content;
	padding-left: 30%;
	padding-right: 38%;
	padding-top: 50px;
	padding-bottom: 30px;
	color: cyan;
	position: relative;
	top: 400px;
	left: -10px;
}

nav ~ hr {
	background-color: black; 
	height: 5px; 
	position: relative; 
	top: 250px;
}

audio {
	background-color: black;
	border: solid cyan;
	height: 15px;
	border-radius: 100px;
}

#bottom-hr {
	top: 550px;
}

#Contact {
	position: relative;
	background-color: black;
	border: solid cyan;
	top: 630px;
	width: fit-content;
	left: 560px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 160px;
	color: cyan;
}

input {
	height: 20px;
}

#About {
	position: relative;
	background-color: black;
	border: solid cyan;
	top: 900px;
	width: fit-content;
	color: cyan;
	padding: 10px;
}
